.d-modal.dev-toolbox-modal {
  .d-modal__container {
    width: 100%;

    .modal-button-group {
      padding-bottom: 1rem;
      display: flex;
      flex-flow: row wrap;
      gap: 0.5em;
      max-width: 400px;
    }
  }
}

.alerts-hidden {
  .alert {
    display: none;
  }
}

.outlet {
  background-color: var(--highlight-low);
  border-radius: 3px;
  border-color: var(--highlight-high);
  color: var(--highlight-high);
  padding: 0.25em;
}

.d-header .plugin-outlets-header-icon {
  display: none;
}

@if $remove_button_from_flow == "true" {
  .btn.dev-toolbox-trigger {
    position: fixed;
    bottom: 1rem;
    right: 1em;
    border-radius: 50%;
    background-color: var(--primary-medium);
    box-shadow: 0 4px 13px -4px rgba(0, 0, 0, 0.25);

    .d-icon {
      color: var(--secondary);
    }
  }
}
